<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digital.ayaz.stockhawk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <permission
            android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

        <uses-permission android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE" />

        <activity android:name="com.digital.ayaz.stockhawk.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.StockDetailsActivity"
            android:label="@string/detail_quote"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity"/>

        <service
            android:name="com.digital.ayaz.stockhawk.sync.StockIntentService"

            android:exported="false" />

        <provider
            android:name="com.digital.ayaz.stockhawk.data.StockProvider"
            android:authorities="com.digital.ayaz.stock"
            android:exported="false" />

        <service
            android:name="com.digital.ayaz.stockhawk.sync.QuoteJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.digital.ayaz.stockhawk.ui.widgets.StockWidgetProvider"
            android:label="@string/stock_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.sam_chordas.stockhawk.STOCK_DATA_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_info_widget_info"
                />
        </receiver>
        <service android:name="com.digital.ayaz.stockhawk.ui.widgets.StockWidgetRemoteViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

    </application>

</manifest>